* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0a0c21;
  color: antiquewhite;
}

.cronometro,
.button {
  display: flex;
  align-items: center;
  justify-content: center;
}
span {
  position: absolute;
  font-size: 100px;
  margin-top: 60px;
}
img {
  width: 70%;
}
button {
  cursor: pointer;
}
i {
  font-size: 50px;
}
